
<h1>NEWS ARTICLE</h1>

<h3>News Type:</h3>

<h4> ${properties.type}</h4>

<h3>News Title:</h3> 

<h4>${properties.name}</h4>

<h3>News Descrpition:</h3>

<h4> ${properties.description}</h4>

<h3>Image Path:</h3>

<h4>${properties.image}</h4>









<h1>NEWS ARTICLE</h1>

<div data-sly-use.newsObj="com.mysite.core.models.Newsarticle">

<h3>News Type:</h3>

<h4> ${newsObj.type}</h4>

<h3>News Title:</h3> 

<h4>${newsObj.name}</h4>

<h3>News Descrpition:</h3>

<h4> ${newsObj.desc}</h4>

<h3>Image Path:</h3>

<h4>${newsObj.image}</h4>

</div>











